<a href="https://colab.research.google.com/github/lvlXB/Homeworks/blob/main/po5zadach.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Begin35**. Скорость лодки в стоячей воде V км/ч, скорость течения реки U км/ч
(U < V). Время движения лодки по озеру T1 ч, а по реке (против течения)
— T2 ч. Определить путь S, пройденный лодкой (путь = время · скорость).
Учесть, что при движении против течения скорость лодки уменьшается
на величину скорости течения.

In [2]:
V = int(input('V = '))
U = int(input('U = '))
T1 = int(input('T1 = '))
T2 = int(input('T2 = '))
S1 = V * T1
S2 = (V - U) * T2
print(S1, S2)

V = 10
U = 2
T1 = 2
T2 = 3
20 24

**Begin36**. Скорость первого автомобиля V1 км/ч, второго — V2 км/ч, расстояние между ними S км. Определить расстояние между ними через T часов, если автомобили удаляются друг от друга. Данное расстояние равно сумме начального расстояния и общего пути, проделанного автомобилями; общий путь = время · суммарная скорость.

In [6]:
V1 = int(input('V1 = '))
V2 = int(input('V2 = '))
T = int(input('T = '))
S1 = int(input('S1 = '))
S2 = S1 + T * (V1 + V2)
print(S2)

V1 = 100
V2 = 80
T = 2
S1 = 100
460

**Begin37**. Скорость первого автомобиля V1 км/ч, второго — V2 км/ч, расстояние
между ними S км. Определить расстояние между ними через T часов,
если автомобили первоначально движутся навстречу друг другу. Данное
расстояние равно модулю разности начального расстояния и общего пути,
проделанного автомобилями; общий путь = время · суммарная скорость.

In [5]:
from math import fabs
V1 = int(input('V1 = '))
V2 = int(input('V2 = '))
T = int(input('T = '))
S1 = int(input('S1 = '))
S2 = fabs(T * (V1 + V2) - S1)
print(S2)

V1 = 100
V2 = 80
T = 1
S1 = 250
70.0

**Begin38**. Решить линейное уравнение A·x + B = 0, заданное своими коэффициентами A и B (коэффициент A не равен 0).

In [7]:
A = int(input('A = '))
B = int(input('B = '))
x = -B/A
print(x)

A = 2
B = 4
-2.0

**Begin39**. Найти корни квадратного уравнения A·x**2 + B·x + C = 0, заданного своими коэффициентами A, B, C (коэффициент A не равен 0), если известно, что дискриминант уравнения положителен. Вывести вначале меньший, а затем больший из найденных корней. Корни квадратного уравнения находятся по формуле

x1, 2 = (−B ± √D)/(2·A),

где D — дискриминант, равный B**2 − 4·A·C.

In [15]:
from math import sqrt
a = int(input('a = '))
b = int(input('b = '))
c = int(input('c = '))
D = b**2 - 4 * a * c
x1 = (-b - sqrt(D)) / (2 * a)
x2 = (-b + sqrt(D)) / (2 * a)
print(x1, x2)

a = 1
b = 4
c = 2
-3.414213562373095 -0.5857864376269049

**Integer**3*. Дан размер файла в байтах. Используя операцию деления нацело,
найти количество полных килобайтов, которые занимает данный файл
(1 килобайт = 1024 байта).

In [3]:
a = int(input('a = '))
y = a // 1024
print(y)

a = 4100
4

**Integer**8*. Дано двузначное число. Вывести число, полученное при перестановке цифр исходного числа.

In [5]:
a = int(input('a = '))
x = a // 10
y = a % 10
a = y * 10 + x
print(a)

a = 52
25

**Integer**11*. Дано трехзначное число. Найти сумму и произведение его цифр.

In [7]:
a = int(input('a = '))
x = a // 100
y = (a % 100) // 10
z = a % 10
summ = x + y + z
prod = x * y * z
print(summ, prod)

a = 523
10 30

**Integer**29*. Даны целые положительные числа A, B, C. На прямоугольнике размера A × B размещено максимально возможное количество квадратов со стороной C (без наложений). Найти количество квадратов, размещенных на прямоугольнике, а также площадь незанятой части прямоугольника.

In [8]:
a = int(input('a = '))
b = int(input('b = '))
c = int(input('c = '))
qty = (a // c * b // c)
free = a * b - c * c * qty
print(qty, free)

a = 5
b = 6
c = 3
2 12

**Integer**30*. Дан номер некоторого года (целое положительное число). Определить соответствующий ему номер столетия, учитывая, что, к примеру, началом 20 столетия был 1901 год.

In [36]:
year = int(input('Year = '))
century = ((year - 1) // 100) + 1
print(century)

Year = 1900
19

**Boolean17**. Дано целое положительное число. Проверить истинность высказывания: «Данное число является нечетным трехзначным».

In [43]:
a = int(input('a = '))
z = a // 100 > 0 and a // 100 < 10 and a % 10 % 2 == 1
print(z)

a = 365
True

**Boolean23**. Дано четырехзначное число. Проверить истинность высказывания: «Данное число читается одинаково слева направо и справа налево».

In [50]:
n = int(input('Number = '))
z = n // 1000 == n % 10 and n % 1000 // 100 == n % 100 // 10
print(z)

Number = 1331
True

**Boolean24**. Даны числа A, B, C (число A не равно 0). Рассмотрев дискриминант D = B^2 − 4·A·C, проверить истинность высказывания: «Квадратное уравнение A·x^2 + B·x + C = 0 имеет вещественные корни».

In [58]:
import math
a = int(input('a = '))
b = int(input('b = '))
c = int(input('c = '))
D = b**2 - 4 * a * c
x1 = (-b - math.sqrt(D)) / (2 * a)
x2 = (-b + math.sqrt(D)) / (2 * a)
z = x1 // 1 != x1 and x2 // 1 != x2
print(x1, x2, z)

a = 2
b = 3
c = -1
-1.7807764064044151 0.28077640640441515 True

**Boolean**29*. Даны числа x, y, x1, y1, x2, y2. Проверить истинность высказывания: «Точка с координатами (x, y) лежит внутри прямоугольника, левая верхняя вершина которого имеет координаты (x1, y1), правая нижняя — (x2, y2), а стороны параллельны координатным осям».

In [59]:
import math
x = int(input('x = '))
y = int(input('y = '))
x1 = int(input('x1 = '))
y1 = int(input('y1 = '))
x2 = int(input('x2 = '))
y2 = int(input('y2 = '))
z = x > x1 and x < x2 and y > y2 and y < y1
print(z)

x = 3
y = 4
x1 = 1
y1 = 5
x2 = 6
y2 = 2
True

**Boolean40**. Даны координаты двух различных полей шахматной доски x1,
y1, x2, y2 (целые числа, лежащие в диапазоне 1–8). Проверить истинность
высказывания: «Конь за один ход может перейти с одного поля на другое».

In [5]:
from math import fabs
x1 = int(input('x1 = '))
y1 = int(input('y1 = '))
x2 = int(input('x2 = '))
y2 = int(input('y2 = '))
z = (fabs(x2 - x1) == 2 and fabs(y2 - y1) == 1) or (fabs(y2 - y1) == 2 and fabs(x2 - x1) == 1)
print(z)

x1 = 4
y1 = 4
x2 = 6
y2 = 5
True

**If13**. Даны три числа. Найти среднее из них (то есть число, расположенное
между наименьшим и наибольшим).

In [5]:
a = int(input('a = '))
b = int(input('b = '))
c = int(input('c = '))
if a > b and a < c or a < b and a > c:
  print(a)
elif b > a and b < c or b < a and b > c:
  print(b)
else:
  print(c)

a = 3
b = 6
c = 2
3

**If17**. Даны три переменные вещественного типа: A, B, C. Если их значения упорядочены по возрастанию или убыванию, то удвоить их; в противном случае заменить значение каждой переменной на противоположное. Вывести новые значения переменных A, B, C.

In [8]:
a = float(input('a = '))
b = float(input('b = '))
c = float(input('c = '))
if a < b < c or a > b > c:
  print(a * 2, b * 2, c * 2)
else:
  print(a * -1, b * -1, c * -1)

a = 2
b = 4
c = 3
-2.0 -4.0 -3.0

**If**22*. Даны координаты точки, не лежащей на координатных осях OX и OY.
Определить номер координатной четверти, в которой находится данная
точка.

In [9]:
x = int(input('x = '))
y = int(input('y = '))
if x > 0 and y > 0:
  print('I')
elif x < 0 and y > 0:
  print('II')
elif x < 0 and y < 0:
  print('III')
else:
  print('IV')

x = -2
y = 4
II

**If**26*. Для данного вещественного x найти значение следующей функции f,
принимающей вещественные значения:
f (x) =

−x, если x ≤ 0,

x^2, если 0 < x < 2,

4, если x ≥ 2.

In [15]:
x = float(input('x = '))
if x <= 0:
  print(-x)
elif x > 0 and x < 2:
  print(x**2)
else:
  print(4)

x = 1.75
3.0625

**If30**. Дано целое число, лежащее в диапазоне 1–999. Вывести его строку-описание вида «четное двузначное число», «нечетное трехзначное число» и т. д.

In [27]:
print('Введите число от 1 до 999')
a = int(input('a = '))
if a % 2 == 0:
  if a // 10 == 0:
    print('Четное однозначное число')
  elif a // 100 == 0:
    print('Четное двузначное число')
  else:
    print('Четное трехзначное число')
else:
  if a // 10 == 0:
    print('Нечетное однозначное число')
  elif a // 100 == 0:
    print('Нечетное двузначное число')
  else:
    print('Нечетное трехзначное число')

Введите число от 1 до 999
a = 512
Четное трехзначное число

**For26**. Дано вещественное число X (|X| < 1) и целое число N (> 0). Найти
значение выражения
X − X^3/3 + X^5/5 − . . . + (−1)^N ·X^(2·N+1)/(2·N+1).

Полученное число является приближенным значением функции arctg в
точке X.

In [41]:
x = float(input('x = '))
n = int(input('n = '))
for i in range(1, n + 1):
  arctgX = x + ((-1)**i) * ((x**(2 * i + 1)) / (2 * i + 1))
  x = arctgX
print('arctgX =', x)

x = 0.5
n = 5
arctgX = 0.461820480661227

**For30**. Дано целое число N (> 1) и две вещественные точки на числовой оси:
A, B (A < B). Отрезок [A, B] разбит на N равных отрезков. Вывести H —
длину каждого отрезка, а также значения функции F(X) = 1 − sin(X) в
точках, разбивающих отрезок [A, B]:

F(A), F(A + H), F(A + 2·H), . . . , F(B).

In [54]:
import math
a = float(input('a = '))
b = float(input('b = '))
n = int(input('n = '))
h = (b - a) / n
print('H =', h)
x = a
for i in range(0, n + 1):
  y = 1 - math.sin(x)
  print('F(x) =', y)
  x += h

a = -2
b = 7
n = 5
H = 1.8
F(x) = 1.9092974268256817
F(x) = 1.198669330795061
F(x) = 0.0004263969584948901
F(x) = 1.2555411020268317
F(x) = 1.8834546557201532
F(x) = 0.34301340128121094

**For35**. Дано целое число N (> 2). Последовательность целых чисел AK определяется следующим образом:

A1 = 1, A2 = 2, A3 = 3,
AK = AK−1 + AK−2 − 2·AK−3, K = 4, 5, . . . .

Вывести элементы A1, A2, . . . , AN .

In [62]:
n = int(input('n = '))
a1 = 1
a2 = 2
a3 = 3
print(a1, a2, a3, end = ' ')
for k in range(4, n + 1):
  Ak = a3 + a2 - 2 * a1
  print(Ak, end = ' ')
  a1 = a2
  a2 = a3
  a3 = Ak

n = 20
1 2 3 3 2 -1 -5 -10 -13 -13 -6 7 27 46 59 51 18 -49 -133 -218

**For37**. Дано целое число N (> 0). Найти сумму

1^1 + 2^2 + . . . + N^N.

Чтобы избежать целочисленного переполнения, вычислять слагаемые этой суммы с помощью вещественной переменной и выводить результат как вещественное число.

In [20]:
n = int(input('n = '))
x = 0
s = 0
for i in range(1, n + 1):
  x = i**i
  s = s + x
print(s)
# не понял зачем нужно решать через вложенные циклы, но пробовал
# также не понял как решать через вещественное

n = 3
32

**For39**. Даны целые положительные числа A и B (A < B). Вывести все целые
числа от A до B включительно; при этом каждое число должно выводиться
столько раз, каково его значение (например, число 3 выводится 3 раза).

In [24]:
a = int(input('a = '))
b = int(input('b = '))
x = a
for i in range(a, b + 1):
  for k in range(1, x + 1):
    print(x, end = ' ')
  x += 1

a = 3
b = 7
3 3 3 4 4 4 4 5 5 5 5 5 6 6 6 6 6 6 7 7 7 7 7 7 7

**While21**. Дано целое число N (> 0). С помощью операций деления нацело
и взятия остатка от деления определить, имеются ли в записи числа N
нечетные цифры. Если имеются, то вывести TRUE, если нет — вывести
FALSE.

In [20]:
N = int(input('N = '))
nechet = False
while N > 0:
  if (N % 10) % 2 == 1:
    nechet = True
    break
  N = N // 10
print(nechet)

N = 256848
True

**While**23*. Даны целые положительные числа A и B. Найти их наибольший
общий делитель (НОД), используя алгоритм Евклида:
НОД(A, B) = НОД(B, A mod B), если B != 0; НОД(A, 0) = A.

In [25]:
print('a > b')
a = int(input('a = '))
b = int(input('b = '))
while b > 0:
  a1 = a
  a = b
  b = a1 % b
print(a)

a > b
a = 25
b = 17
1

**While25**. Дано целое число N (> 1). Найти первое число Фибоначчи, большее N.

In [10]:
n = int(input('n = '))
m1 = 0
m2 = 1
while m2 <= n:
  m = m1 + m2
  m1 = m2
  m2 = m
print(m)

n = 567
610

**While29**. Дано вещественное число ε (> 0). Последовательность вещественных
чисел AK определяется следующим образом:
A1 = 1, A2 = 2, AK = (AK−2 + 2·AK−1)/3, K = 3, 4, . . . .
Найти первый из номеров K, для которых выполняется условие
|AK − AK−1| < ε, и вывести этот номер, а также числа AK−1 и AK.

In [27]:
import math
eps = float(input('eps = '))
a1 = 1
a2 = 2
k = 2
while math.fabs(a2 - a1) > eps:
  k = k + 1
  ak = (a1 + 2 * a2) / 3
  a1 = a2
  a2 = ak
print(k, a1, a2)

eps = 0.005
7 1.7530864197530864 1.748971193415638

**While30**. Даны положительные числа A, B, C. На прямоугольнике размера A × B размещено максимально возможное количество квадратов со стороной C (без наложений). Найти количество квадратов, размещенных на прямоугольнике. Операции умножения и деления не использовать.

In [19]:
a = int(input('a = '))
b = int(input('b = '))
c = int(input('c = '))
cna = 0
cnb = 0
k = 0
l = 0
s = 0
while cna < a:
  cna = cna + c
  if cna <= a:
    k = k + 1
while cnb < b:
  cnb = cnb + c
  if cnb <= b:
    l = l + 1
while l > 0:
  s = s + k
  l = l - 1
print(s)

a = 5
b = 3
c = 2
2